@font-face {
    font-family: "KMITLGO";
    src: url("../fonts/KMITLGO/KMITLGO Regular.woff") format("woff");
    src: url("../fonts/KMITLGO/KMITLGO Regular.woff2") format("woff2");
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
    box-sizing: border-box;
    font-family: 'KMITLGO', Helvetica, Arial, sans-serif;
}

html, body{
    height: 100%;
	position: relative;
}

body {
    /* min-height: 100vh; */
    /* background: linear-gradient(#FFFFFF, #ffe6a5); */
    background: #FFFFFF;
    overflow-x: hidden;
    font-size: 20px !important;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 9999;
}

header .logo {
    color: #359381;
    font-weight: 900;
    text-decoration: none;
    font-size: 5em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    padding: 10px 15px;
    color: #359381;
    border-radius: 20px;
    font-size: 30px;
    font-weight: 700;
}

header ul li a:hover, header ul li a.active {
    background: #359381;
    color: #FFFFFF;
}

.section {
    background: #f9fbfd;
    padding: 50px 0 100px;
}

.text-header h2 {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 50px;
    border-bottom: 1px solid #FFFFFF;
    color: #359381;
    text-align: center;
}

.contact-content {
    /* display: flex;
    justify-content: center; */
}

.contact-info ul li {
    margin-bottom: 20px;
    list-style: none;
}

.contact-info ul li p {
    position: relative;
    padding-left: 40px;
    color: #636a82;
}

.contact-info ul li p i {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    color: #636a82;
}

.contact-social ul li > a {
    color: #636a82;
    font-size: 30px;
    margin-right: 18px;
    -webkit-transition: .3s; 
    -moz-transition: .3s; 
    -ms-transition: .3s; 
    -o-transition: .3s;
    transition: .3s;
}

.contact-social ul li{
    float: left;
    list-style: none;
}

.contact-social ul li > a:hover{
    color: #359381;
}

.google-map {
    border-radius: 100%;
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin: 0 auto;
}

.google-map iframe {
    border: 0;
    width: 300px;
    height: 300px;
}

.footer-copyright {
    color: #888ea5;
    text-transform: capitalize;
    padding: 30px 0px;
    text-align: left;
}

.footer-copyright p a {
    color: #888ea5;
}